<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="#">WEB322 - Mayank Kumar</a>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/posts">Posts</a>
        </li>
        <li>
          <a href="/categories">Categories</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div class="left-column">
        <h2>About</h2>
        <p>
          Mayank Kumar is a 21-year-old computer programming student at Seneca
          College with a passion for technology and a strong drive to become a
          software developer.
        </p>
      </div>
      <div class="right-column">
        <h2>Coming Soon</h2>
        <p>Stay tuned for future updates…</p>
      </div>
    </div>
  </body>
</html>
