<div class="main-container">
  <div class="left-column">
    <h2>About</h2>
    <p>
      Mayank Kumar is a 21-year-old computer programming student at Seneca
      College with a passion for technology and a strong drive to become a
      software developer.
    </p>
  </div>
  <div class="right-column">
    <h2>Coming Soon</h2>
    <p>Stay tuned we will be rolling out updates soon...</p>
  </div>
</div>