<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <img
      src="https://img.freepik.com/free-vector/wireless-internet-technology-icon-vector-neon-gradient-background_53876-112183.jpg?w=150"
      alt="Logo"
    />
    <h1>About</h1>
    <p>Learn more about this website and its creator.</p>
    <div>
      <div>Name: Mayank Kumar</div>
      <div>Student Id: 145998217</div>
      <div>Email: mkumar87@myseneca.ca</div>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/contact">Contact</a>
    </nav>
  </body>
</html>
