<div class="container">
  <h1>Add Post</h1>
  <br />
  <form action="/posts/add" method="post" enctype="multipart/form-data">
    <h4>Feature Image</h4>
    <hr />
    <div class="form-group">
      <div class="file-input-box">
        <input type="file" id="file" name="featureImage" accept="image/*" />
      </div>
    </div>
    <br />
    <h4>Post Content</h4>
    <hr />
    <div class="form-group">
      <label for="title"><strong>Title:</strong></label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        rows="1"
      />
    </div>
    <br />
    <div class="form-group">
      <label for="body"><strong>Body:</strong></label>
      <textarea class="form-control" id="body" name="body" rows="10"></textarea>
    </div>
    <br />
    <div class="option-visibility">
      <div class="option-selection">
        <label for="category"><strong>Category:</strong></label>
        <select
          class="form-select form-select-arrow"
          id="category"
          name="category"
        >
          <option value="1">Technology</option>
          <option value="2">Gaming</option>
          <option value="3">Fashion</option>
          <option value="4">Education</option>
          <option value="5">Wellness</option>
        </select>
      </div>
      <div class="visibility-check">
        <div class="form-group">
          <label class="mb-2"><strong>Visibility:</strong></label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="published"
              name="published"
            />
            <label class="form-check-label" for="published">Published</label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="submit-button">
      <button type="submit" class="btn btn-primary">Add Post</button>
    </div>
  </form>
</div>