.navbar-brand {
  font-size: 2rem;
}

.navbar-nav li {
  margin: 0rem 2rem;
  transition: color 0.3s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: white;
}

#blog-title {
  font-size: 5rem;
}
#feature-img {
  width: auto;
  height: auto;
  max-width: 700px;
  max-height: 800px;
  margin: 2rem;
}
.main {
  font-size: 1.8rem;
}
.content-container {
  white-space: pre-wrap;
}
