.navbar-brand {
  font-size: 2rem;
}

.navbar-nav li {
  margin: 0rem 2rem;
  transition: color 0.3s ease;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: white;
}

#blog-title {
  font-size: 5rem;
}
#feature-img {
  width: auto;
  height: auto;
  max-width: 700px;
  max-height: 800px;
  margin: 2rem;
}
.main {
  font-size: 1.8rem;
}
.content-container {
  white-space: pre-wrap;
}

.footer {
  background-color: #232323;
  color: #ffffff;
  height: 5rem;
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

.about {
  text-align: center;
}
.about > h2 {
  font-size: 4rem;
}
.about > p {
  text-align: left;
}

/* Media Query for Small Screens */
@media screen and (max-width: 576px) {
  #blog-title {
    font-size: 3.8rem;
  }
  #feature-img {
    max-width: 100%;
    max-height: 100%;
    margin: 0.2rem;
  }
}

/* Media Query for Medium Screens */
@media screen and (min-width: 577px) and (max-width: 992px) {
  #blog-title {
    font-size: 4.2rem;
  }

  #feature-img {
    max-width: 80%;
    max-height: 600px;
    margin: 1.5rem;
  }
  .about {
    padding: 1rem;
  }
}

/* Media Query for Large Screens */
@media screen and (min-width: 993px) and (max-width: 1300px) {
  #feature-img {
    max-width: 650px;
    max-height: 700px;
    margin: 2rem;
  }
  .about {
    padding: 0rem 5rem;
  }
}

/* Media Query for Extra Large Screens */
@media screen and (min-width: 1301px) {
  #feature-img {
    max-width: 900px;
    max-height: 800px;
    margin: 2rem;
  }
  .container {
    width: 90%;
  }
  .about {
    padding: 0rem 6rem;
  }
}
